openapi: 3.1.0
info:
  title: Routescan (Snowtrace) Etherscan-Compatible Accounts Stats API
  description: 'Routescan is the first multichain ecosystem explorer, search, API, and analytics platform for all major EVM chains. Operating as Snowtrace for Avalanche C-Chain, Routescan provides high-speed REST APIs compatible with the Etherscan API format, delivering near real-time access to transactions, token transfers, smart contract data, and event logs across Avalanche C-Chain, Arbitrum, Optimism, Base, and 40+ other EVM networks. A single API key grants multichain access across all indexed chains.

    '
  version: '2.0'
  contact:
    name: Routescan Support
    url: https://snowtrace.io/contactus
  termsOfService: https://snowtrace.io/
servers:
- url: https://api.routescan.io/v2/network/mainnet/evm/{chainId}/etherscan/api
  description: Routescan Multichain API (mainnet)
  variables:
    chainId:
      default: '43114'
      description: 'EVM chain ID. Use 43114 for Avalanche C-Chain mainnet, 43113 for Avalanche Fuji testnet.

        '
- url: https://api.routescan.io/v2/network/testnet/evm/{chainId}/etherscan/api
  description: Routescan Multichain API (testnet)
  variables:
    chainId:
      default: '43113'
      description: EVM chain ID for testnet networks.
security:
- apiKey: []
- {}
tags:
- name: Stats
  description: Network statistics including token supply and prices.
paths:
  /stats/avaxsupply:
    get:
      operationId: getAvaxSupply
      summary: Get total AVAX supply
      description: 'Returns the total supply of AVAX in Wei on the Avalanche C-Chain.

        '
      tags:
      - Stats
      parameters:
      - name: module
        in: query
        required: true
        schema:
          type: string
          enum:
          - stats
      - name: action
        in: query
        required: true
        schema:
          type: string
          enum:
          - avaxsupply
      - $ref: '#/components/parameters/apikeyParam'
      responses:
        '200':
          description: Total AVAX supply in Wei
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    result:
                      type: string
  /stats/avaxprice:
    get:
      operationId: getAvaxPrice
      summary: Get last AVAX price in USD and BTC
      description: 'Returns the latest AVAX price denominated in both USD and BTC.

        '
      tags:
      - Stats
      parameters:
      - name: module
        in: query
        required: true
        schema:
          type: string
          enum:
          - stats
      - name: action
        in: query
        required: true
        schema:
          type: string
          enum:
          - avaxprice
      - $ref: '#/components/parameters/apikeyParam'
      responses:
        '200':
          description: AVAX price data
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    result:
                      type: object
                      properties:
                        avaxbtc:
                          type: string
                        avaxbtc_timestamp:
                          type: string
                        avaxusd:
                          type: string
                        avaxusd_timestamp:
                          type: string
components:
  parameters:
    apikeyParam:
      name: apikey
      in: query
      required: false
      schema:
        type: string
      description: API key for authenticated access. Use "placeholder" for free tier.
  schemas:
    ApiResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - '0'
          - '1'
          description: 1 for success, 0 for error.
        message:
          type: string
          description: Human-readable status message (OK or NOTOK).
        result:
          description: The response payload (varies by endpoint).
      required:
      - status
      - message
      - result
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: apikey
      description: 'Optional for free-tier usage (2 req/s, 10,000 calls/day). Register at routescan.io for increased limits.

        '
